//------------------------------------------------------------------------------
//  Общие стиля любой кнопки
//------------------------------------------------------------------------------


.btn {
  display: inline-block;
  height: 43px;
  line-height: 43px;
  padding: @btn-padding;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  font-size: @font-size;
  background-color: @color-main;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  outline: none;
  transition: all 0.3s;

  &:hover {
    background: darken(@color-main, 3%);
    color: #ffffff;
  }

  &:active {
    background: darken(@color-main, 3%);
    color: #ffffff;
  }
}

.btn:disabled {
  background: @color-main--hover;
}


.offer-label {
  font-size: 13px;
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  line-height: 21px;
  padding: 0 10px;
  color: #ffffff;
  border-radius: 4px;

  &--hit {
    padding: 0 15px;
    background-color: @color-green;
  }

  &--sale {
    background-color: @color-main;
  }

  &--new {
    background-color: @color-blue;
    margin-right: 0;
  }
}